#intro {
  padding: 0 40px;
  color: #fff;
  padding-bottom: 75px;
  border-bottom: 1px solid #0f0f0f;

  .text-container {
    margin-top: 125px;
    text-align: center;

    a {
      background-color: #F6C200;
    }
  }
}
