body, html {
  margin: 0;
  background-color: #fafafa;
  font-size: 10px;
  font-family: 'Open Sans';
  height: 100%;
}

#root, #layout {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  height: 100%;
}

.clear-fix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

@import 'variables';
@import 'views';
@import 'components';
@import 'elements';
@import 'pricing_page';
@import 'transitions';
