.avatar-component {
  img {
    width: 50px;
    border-radius: 3px;
  }
}

.hovercard-component {
  position: relative;

  .hovercard-component-card-container {
    position: absolute;
    width: 250px;
    text-align: center;
    left: -142px;
    top: 15px;
  }

  .hovercard-component-card {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    padding: 5px;
    font-size: 11px;
    top: 5px;
    margin: 0;
    box-sizing: border-box;
    opacity: 0.9;

    &:before {
      position: absolute;
      top: -13px;
      left: 33px;
      content: "";
      display: inline-block;
      border: 8px solid transparent;
      border-bottom-color: #000;
      opacity: 0.9;
    }

    &:after {
      position: absolute;
      top: -12px;
      left: 33px;
      content: "";
      display: inline-block;
      border: 8px solid transparent;
      border-bottom-color: #000;
      opacity: 0.9;
    }
  }
}

.popover-component {
  position: relative;

  .popover-select {
    cursor: pointer;

    img {
      margin-right: 4px;
    }
  }

  .popover {
    position: absolute;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    width: 12em;
    left: -1em;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    box-sizing: border-box;
    padding-bottom: 0.5em;
  }

  .popover-header {
    width: 100%;
    display: block;
    border-bottom: 1px solid #aaa;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }

  .popover-item {
    width: 100%;
    display: block;
    padding: 0.5em;

    &:hover {
      background-color: #eee;
    }
  }
}

.popover-down {
  &:before {
    position: absolute;
    top: -16px;
    left: 1em;
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: #e0e0e0;
  }

  &:after {
    position: absolute;
    top: -15px;
    left: 1em;
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
  }
}
