@import "variables";

.avatar-component {
  img {
    width: 50px;
    border-radius: 3px;
  }
}

.avatar-row-component {
  margin-bottom: 30px;

  > * {
    margin-right: 12px;
  }
}

.hovercard-component {
  position: relative;

  .hovercard-component-card-container {
    position: absolute;
    width: 250px;
    text-align: center;
    left: -142px;
    top: 15px;
  }

  .hovercard-component-card {
    background-color: #000;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    padding: 5px;
    font-size: 11px;
    top: 5px;
    margin: 0;
    box-sizing: border-box;
    opacity: 0.9;

    &:before {
      position: absolute;
      top: -13px;
      left: 33px;
      content: "";
      display: inline-block;
      border: 8px solid transparent;
      border-bottom-color: #000;
      opacity: 0.9;
    }

    &:after {
      position: absolute;
      top: -12px;
      left: 33px;
      content: "";
      display: inline-block;
      border: 8px solid transparent;
      border-bottom-color: #000;
      opacity: 0.9;
    }
  }
}

.popover-component {
  position: relative;
  height: 100%;
  display: inline-block;

  .popover-select {
    cursor: pointer;
    height: 100%;
    display: inline-block;

    &:hover {
      i {
        color: #ccc;
      }
    }

    img {
      margin-right: 4px;
      margin: 3px;
      border-radius: 2px;
    }

    i {
      position: relative;
      top: -25%;
    }
  }

  .popover {
    position: absolute;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    width: 12em;
    left: -110px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.15);
    box-sizing: border-box;
    padding-bottom: 0.5em;
  }

  .popover-header {
    width: 100%;
    display: block;
    border-bottom: 1px solid #aaa;
    padding: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }

  .popover-item {
    width: 100%;
    display: block;
    padding: 0.5em;

    &:hover {
      background-color: #eee;
    }
  }
}

.popover-down {
  &:before {
    position: absolute;
    top: -16px;
    left: 119px;
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: #e0e0e0;
  }

  &:after {
    position: absolute;
    top: -15px;
    left: 119px;
    content: "";
    display: inline-block;
    border: 8px solid transparent;
    border-bottom-color: #fff;
  }
}

#peer-review-component {
  padding: 1em;
  textarea {
    resize: none;
    height: 15em;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
  }

  i {
    margin-top: -1.6em;
    vertical-align: middle;
  }

  button {
    float: right;
  }
}

.tabs-component {
  .tab {
    border: 1px solid #888;
    border-radius: 5px 5px 0 0;
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
    display: inline-block;
    margin-bottom: -1px;

    &.active {
      background-color: #fff;
      border-bottom: 1px solid #fff;;
    }
  }

  .pane {
    border: 1px solid #888;
    background-color: #fff;
    border-radius: 0 3px 3px 3px;
    height: 23em;
  }
}

.review-paper-section-component {
  input {
    width: 100%;
  }

  textarea {
    width: 100%;
    resize: none;
    height: 20em;
  }
}

.image-upload-component {
  label {
    cursor: pointer;
  }
  input {
    display: none;
  }
}

.editable-image-component {
  position: relative;
  cursor: pointer;
  &:hover {
    i {
      display: block;
    }
  }

  i {
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(50% - 0.5em);
    font-size: 4em;
    color: #fff;
    opacity: 0.8;
    display: none;
  }
}
