body, html {
  margin: 0;
}

nav button {
  margin-bottom: 0;
}

nav input {
  margin-bottom: 0;
}

nav {
  padding: 10px;
}

nav > .container > .row > * {
  vertical-align: middle;
  margin-left: 10px;
}
