@import 'variables';

.view {
  padding-top: 6rem;
}

#peer-reviews-view {
  padding-top: 6rem;
}

#nav-bar-view {
  height: 5rem;
  background-color: $purple;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

  .login-buttons {
    text-align: right;
  }

  .container {
    height: 100%;
    .row {
      height: 100%;
      #logo {
        vertical-align: middle;
        margin-top: -0.3rem;
      }
      h6 {
        display: inline-block;
      }
      input {
        height: 100%;
        width: 25rem;
        font-size: 1.5rem;
        font-family: "Open Sans";
      }
      .columns {
        height: 100%;
        & > *:not(:last-child) {
          display: inline;
          margin-right: 1em;
        }
        &.secondary {
          text-align: right;
          & > * {
            text-align: left;
            margin-right: 0;
          }
        }
      }
      .link {
        color: #fff;
        line-height: 4rem;
        &:hover {
          color: #ddd;
        }
      }
    }
  }

  button {
    margin-bottom: 0;
    color: #fff;
    border-color: #fff;
  }

  input {
    margin-bottom: 0;
  }
}

#browse-view {
  padding-top: 6rem;

  #header {
    font-size: 1.5rem;
    font-weight: 600;
    color: #777;
    position: fixed;
    top: 5rem;
    padding: 1.5rem 0 0.5rem 0;
    border-bottom: 1px solid #e5e5e5;
    background: #fafafa;
    width: 52.33%;
  }

  .publications-column-container {
    height: 100%;
    padding-top: 2.5rem;
  }

  .publications-column {
    height: 100%;
  }

  .publications-column,
  .publications-feed {
    .title {
      color: #777;
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    border-radius: 3px;
    padding-bottom: 2px;
    .notifications {
      padding: 1rem;
      text-align: center;
      background-color: #ddd;
    }
  }

  .publications-feed {
    position: fixed;
    right: 10%;
    width: 24%;
    top: 6.5rem;
  }

  .feed-menu {
    .menu-item {
      background-color: $purple;
      float: left;
      width: 100%;
      height: 4rem;
      color: #fff;
      font-size: 1.2rem;
      padding-left: 1rem;
      &:hover {
        background-color: $purple-l;
      }
      &:active {
        background: $purple-l;
        box-shadow: none;
      }
      i {
        transform: translateY(25%);
        margin-right: 5px;
      }
      // &:last-child {
      //   width: 40%;
      //   line-height: 4rem;
      //   border-left: 1px solid $purple-d;
      //   cursor: default;
      //   &:hover {
      //     background-color: $purple;
      //   }
      // }
    }
  }

  h6 {
    display: inline;
  }

  h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
    padding: 0 0 1.5rem 0;
    color: #333;
    font-weight: 600;
  }

  h2 {
    font-size: 2.5rem;
    color: #333;
    margin: 2rem 0 0.5rem 0;
    text-decoration: none;
  }
}

#peer-review-view {
  padding-top: 6rem;
  h1 {
    margin: 0;
    padding: 0;
  }
}

#new-publication-slide {
  padding-top: 5rem;

  input {
    width: 100%;
  }

  .removable-input {
    input {
      width: calc(100% - 3em)
    }

    i {
      float: right;
      line-height: 38px;
    }
  }

  textarea {
    resize: none;
    width: 100%;
    height: 25rem;
  }

  .new-author {
    div {
      width: 32%;
      float: left;

      &:not(:first-child) {
        margin-left: 2%;
      }
    }
  }
}

#user-profile-view {
  padding-top: 9.5rem;

  img {
    border-radius: 5px;
    width: 100%;
  }

  .editable-image-component {
    max-width: 20rem;
  }

  .new-publication {
    margin: 4rem 0 12rem 0;
  }
}

#publication-view {
  padding-top: 6rem;
  h1 {
    font-size: 3rem;
    margin: 3rem 0 0 0;
    padding: 0 0 1.5rem 0;
    color: #333;
    font-weight: 600;
  }

  h2 {
    font-size: 2.5rem;
    color: #333;
    margin: 2rem 0 0.5rem 0;
    text-decoration: none;
  }

  .ratings.component {
    float: right;
    margin: 0.5rem 0 2rem 2rem;
    &.left {
      float: left;
      margin: 0;
    }
  }

  .author-data {
    font-family: "Pontano Sans";
    font-size: 1.5rem;
    margin-left: 53px;

    .author {
      color: $purple-ll;
    }

    .updated-at {
      margin-top: -4px;
      color: #aaa;
    }
  }

  .circle {
    height: 45px;
    width: 45px;
    display: block;
    float: left;
    border-radius: 50%;
  }
  font-size: 1.5rem;
  color: #5f5f5f;

  .figures {
    width: 100%;

    .figure {
      float: left;
      width: 32%;
      text-align: center;
      height: 200px;
      background-color: #ccc;
      margin: 0 1% 1rem 0;
      position: relative;

      img {
        max-width: 100%;
      }

      .text-container {
        position: absolute;
        top: 155px;
        width: 100%;
        opacity: 0.8;
        background-color: #222;
        padding: 5px;

        .title {
          text-decoration: underline;
        }

        .caption, .title {
          opacity: 1;
          text-align: left;
          color: #fff;
          font-family: "Pontano Sans";
          font-size: 1.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .contribute-review-container {
    height: 6rem;
    margin: 17px 0 0 25px;
    float: left;
    span {
      position: absolute;
    }
  }
}

.user-profile-edit.view {
  label {
    display: block;
  }
  input {
    width: 100%;
  }
}
