#browse-view {
  .publications-column {
    background-color: #ddd;
    margin-top: 1em;
    border-radius: 3px;
    padding-bottom: 2px;
  }

  h1 {
    background: linear-gradient(to bottom,#1565E9,rgba(21,101,233,0.8));
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-size: 3em;
    padding: 0.4em;
    margin: 0;
    border-radius: 3px 3px 0 0;
    color: #fff;
  }
}

#peer-review-view {
  h1 {
    margin: 1em 0 0.5em;
    padding: 0;
  }
}

#new-review-paper-view {
  input {
    width: 100%;
  }

  .removable-input {
    input {
      width: calc(100% - 3em)
    }

    i {
      float: right;
      line-height: 38px;
    }
  }
}
